<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977737337403-mhj5qr1mvbafspljhhivsf7ulii52544.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977737337403-mhj5qr1mvbafspljhhivsf7ulii52544</string>
	<key>API_KEY</key>
	<string>AIzaSyCelSIK9o3siFri0foG2FxHUsErkWcaH6s</string>
	<key>GCM_SENDER_ID</key>
	<string>977737337403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.augmenti</string>
	<key>PROJECT_ID</key>
	<string>augmenti-965a7</string>
	<key>STORAGE_BUCKET</key>
	<string>augmenti-965a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977737337403:ios:8e1ab36e16e7578ace2a1e</string>
</dict>
</plist>